:root{
	//= Primary colors
	--color-brand: 		#013AD2;
	--color-primary:	#DDCFCF;
	--color-secundary: #25406B;

	//= Text colors
	--color-text:			#222222;
	--color-text-light:	#7a7a7a;
	--color-text-black:	#000000;

	//= Link colors
	--color-link:			#013AD2;
	--color-link-hover:	#F8B729;

	//= Accents colors
	--color-accent:		#F0EDE3;
	--color-divider:		rgba(0,0,0,0.10);
	--color-elements:	#000000;

	--color-placeholder:		#cccccc;
	--color-selection: 			#ead4ff;
	--color-selection-text:	#000000;

	//= Body style
	--body-color:		#fff;
	--body-size-text:	1rem;
	--body-line-height: 1.5;

	--font-title: 'IBM Plex Sans', sans-serif;
	--font-title-bold:'IBM Plex Sans', sans-serif;

	--font-text:'IBM Plex Sans', sans-serif;
	--font-text-bold: 'IBM Plex Sans', sans-serif;

	--font-text-serif: 'IBM Plex Serif', serif;
	--font-text-mono: 'IBM Plex Mono', monospace;
}