.container {
      width: 100%;
      margin: 0 auto;
      position: relative;
      padding-right: 8.33333%;
      padding-left: 8.33333%;
}

.container-fluid {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
}
