.home{

}

.home__about{
	width: 100%;
	position: relative;
	padding-top: 40vh;
	padding-bottom: 40vh;
	h1{
		color: white;
	}
	h2{
		color: white;
	}
	p{
		color: white;
	}
}

.home__business{
	width: 100%;
	position: relative;
	background-color: white;
	padding-top: 85px;
	padding-bottom: 85px;
	h2{
		color: $color-brand;
	}
}